@import "tailwindcss";

/* Override Prism theme to match docs (zinc/amber) */
pre[class*="language-"] {
  background: rgb(24 24 27) !important;
  margin: 0;
}
code[class*="language-"] {
  background: transparent !important;
  color: rgb(212 212 216);
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(113 113 122);
}
.token.keyword {
  color: rgb(251 191 36);
}
.token.string,
.token.attr-value {
  color: rgb(134 239 172);
}
.token.function {
  color: rgb(96 165 250);
}
.token.punctuation {
  color: rgb(161 161 170);
}
.token.number,
.token.boolean {
  color: rgb(251 146 60);
}
.token.tag {
  color: rgb(248 113 113);
}
.token.attr-name {
  color: rgb(167 139 250);
}
